@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #004EA8;
}
.bg-crimson{
    background-color: #990000;
}
section{
    margin: 5rem;
}
.valid{
    color: green;
}
.valid:before {
    position: relative;
    left: -35px;
}
.invalid {
    color: red;
}
.invalid:before {
    position: relative;
    left: -35px;
}
#message{
    display:none;
    position: relative;
    color: #000;
}
#match{
    display:none;
    position: relative;
    color: red;
}
.area-content{
    padding: 1rem;
    background: white; 
    margin: 0;
}
footer{
    padding: 2rem;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.carousel-wrapper:hover .carousel-control-prev,
.carousel-wrapper:hover .carousel-control-next {
  opacity: 1;
  transition-delay: 0.3s;
}
.image-content{
    text-shadow: 0 0 3px white, 0 0 5px whitesmoke;
    font-weight: bold;
}

.image-title{
    text-shadow: 0 0 3px white, 0 0 5px whitesmoke;
    font-weight: bolder;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.profileImg {
  width: 40px; /* Fixed width */
  height: 40px; /* Fixed height */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 50%; /* Make images circular */
  box-shadow: 0px 0px 3px #5f5f5f,
              0px 0px 0px 4px gold,
              3px 3px 15px grey,
              -3px -3px 15px grey; /* Add box shadow */
}

.box-form{
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    margin: 7rem auto;
    padding: 40px 30px 30px 30px;
    max-width: 30rem;
}

.card-width{
    max-width: 15rem;
    min-width: 10rem;
}

.ptag{
    text-decoration: none;
    font-size: small;
}

.disable-btn {
    /* Disable button styling */
    padding: 0 0.5rem;
    border: 2px solid #990000;
    border-radius: 1rem;
    font-size: smaller;
    color: white;
    background-color: #e60000; /* Initial background color for Disable button */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease; /* Add transitions for background color and transform */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }

  .disable-btn:hover {
    background-color: #ff3333; /* Change background color on hover for Disable button */
  }

  .disable-btn:active {
    transform: translateY(2px); /* Push down by 2 pixels when the Disable button is pressed */
  }

  .active-btn {
    /* Active button styling */
    padding: 0 0.5rem;
    border: 2px solid #024502;
    border-radius: 1rem;
    font-size: smaller;
    color: white;
    background-color: #007700; /* Initial background color for Active button */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease; /* Add transitions for background color and transform */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }

  .active-btn:hover {
    background-color: #00cc00; /* Change background color on hover for Active button */
  }

  .active-btn:active {
    transform: translateY(2px); /* Push down by 2 pixels when the Active button is pressed */
  }

.card-list{
  margin: 0.5rem 0rem;
  cursor: pointer;
}
.text-note{
  font-size: x-small;
  border: 2px solid;
  border-radius: 1rem;
  padding: 0px 4px;
}
.partTime{
  border-color: blue;
  color: blue;
  background-color: rgb(188, 221, 254);
}
.fullTime{
  border-color: green;
  color: green;
  background-color: rgb(226, 255, 182);
}
.contractual{
  border-color: gray;
  color: gray;
  background-color: rgb(223, 223, 223);
}
.All{
  border-color: goldenrod;
  color: goldenrod;
  background-color: rgb(255, 244, 180);
}

.header-report{
  background-color: #333;
  color: #fff;
  padding-top: 0.5rem;
  text-align: center;
}

.pending-btn {
  /* Disable button styling */
  padding: 0 0.5rem;
  border: 2px solid #616161;
  border-radius: 1rem;
  font-size: smaller;
  color: white;
  background-color: #7e7e7e; /* Initial background color for Disable button */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease; /* Add transitions for background color and transform */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.pending-btn:hover {
  color:#000;
  background-color: #b9b9b9; /* Change background color on hover for Disable button */
}

.pending-btn:active {
  transform: translateY(2px); /* Push down by 2 pixels when the Disable button is pressed */
}

.approve-btn {
  /* Active button styling */
  padding: 0 0.5rem;
  border: 2px solid #024502;
  border-radius: 1rem;
  font-size: smaller;
  color: white;
  background-color: #007700; /* Initial background color for Active button */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease; /* Add transitions for background color and transform */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.approve-btn:hover {
  background-color: #00cc00; /* Change background color on hover for Active button */
}

.approve-btn:active {
  transform: translateY(2px); /* Push down by 2 pixels when the Active button is pressed */
}

.student {
  /* Disable button styling */
  margin: auto;
  text-align: center;
  width: 4.5rem;
  padding: 0 0.5rem;
  border: 2px solid #c8a243;
  border-radius: 1rem;
  font-size: smaller;
  color: black;
  background-color: #FFCE54; /* Initial background color for Disable button */
  transition: background-color 0.3s ease, transform 0.1s ease; /* Add transitions for background color and transform */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

:root {
  --dark: #34495E;
  --light: #ffffff;
  --success: #0ABF30;
  --error: #E24D4C;
  --warning: #E9BD0C;
  --info: #3498DB;
}
.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 100;
}
.notifications :where(.bread, .column) {
  display: flex;
  align-items: center;
}
.notifications .bread {
  width: 400px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light);
  justify-content: space-between;
  animation: show_bread 0.3s ease forwards;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@keyframes show_bread {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .bread.hide {
  animation: hide_bread 0.3s ease forwards;
}
@keyframes hide_bread {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.bread::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.bread.success::before, .btn#success {
  background: var(--success);
}
.bread.error::before, .btn#error {
  background: var(--error);
}
.bread.warning::before, .btn#warning {
  background: var(--warning);
}
.bread.info::before, .btn#info {
  background: var(--info);
}
.bread .column i {
  font-size: 1.75rem;
}
.bread.success .column i {
  color: var(--success);
}
.bread.error .column i {
  color: var(--error);
}
.bread.warning .column i {
  color: var(--warning);
}
.bread.info .column i {
  color: var(--info);
}
.bread .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}
.bread i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}
.bread i:last-child:hover {
  color: var(--dark);
}

@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .bread {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
}

.popup {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  background-color: rgba(0,0,0,0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.scrollable-div {
  width: auto; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  overflow-y: auto; /* This will enable vertical scroll */
  border: 1px solid #ccc; /* Optional: Add border for visual clarity */
  padding: 10px; /* Optional: Add padding to the content inside */
}